body {
  margin: 0;
  padding: 0;
  border-radius: border-box;
  font-family: 'Ubuntu', sans-serif; }

nav .container-fluid {
  margin: 0.5% 1% 0.5% 1%; }

nav button {
  margin: 0px 0.2rem 0px 0.2rem; }

.welcome {
  align-items: self-end;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .welcome .firstImg {
    padding: 0;
    margin-top: 2rem;
    height: 100%; }
  .welcome .secImg {
    width: 100%; }
  .welcome .mainText {
    margin-bottom: 15rem; }
    .welcome .mainText h1 {
      font-size: 3rem; }
  .welcome .headershape1 img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 96%;
    height: 90%; }
  .welcome .headershape2 img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 90%;
    height: 95%; }

.secondCoso {
  margin-top: 500px; }

.portHead nav .container-fluid {
  margin: 0.5% 10% 0.5% 10%; }

.mainContainer {
  margin: 0.5% 10% 0.5% 10%;
  border: 1px solid #ccc;
  border-radius: 16px; }
  .mainContainer h1 {
    font-size: 2.8rem;
    font-weight: 400; }
  .mainContainer h2 {
    color: #2B7A0B;
    font-size: 4rem;
    font-weight: 500; }
  .mainContainer li {
    font-size: 1.4rem; }
    .mainContainer li:hover {
      background-color: rgba(91, 179, 24, 0.2);
      border-radius: 4px; }
  .mainContainer form {
    padding: 0.5rem; }
  .mainContainer input {
    width: 15rem;
    padding: 0.5rem; }
  .mainContainer .conversor-imagen {
    width: 150px; }
  .mainContainer .convertidor {
    padding: 4rem;
    margin: 1rem;
    border: 1px solid #dedede;
    border-radius: 16px;
    display: flex;
    align-items: center; }
    .mainContainer .convertidor h4 {
      text-align: center; }
    .mainContainer .convertidor h5 {
      text-align: center; }
    .mainContainer .convertidor .moneda {
      padding: 4rem 10rem 4rem 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .mainContainer .convertidor .moneda select {
        padding: 10px 20px 10px 10px;
        size: 0.3em;
        border: 1px solid #dedede;
        font-size: 16px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none; }
      .mainContainer .convertidor .moneda input {
        border: 0;
        font-size: 30px;
        text-align: right; }
    .mainContainer .convertidor .taza-cambio-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      .mainContainer .convertidor .taza-cambio-container button {
        padding: 0.5rem 4rem; }
    .mainContainer .convertidor .cambio {
      color: #2B7A0B;
      font-size: 1.8rem;
      text-align: center;
      font-weight: 400; }
